body {
  text-align: center;
  background-image: url();
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.disabled {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-box {
  color: #fff;
  margin-bottom: 5em;
}


.main-box #login-input {
  padding: 2em;
  padding-bottom: 1em;
  border-bottom: 5px solid salmon;
}

.main-box #login-input::placeholder {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}

.main-box #login-btn {
  width: 60px;
  border-radius: 4px;
}

#welcome {
  font-size: 2em;
}

#day-time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}


footer {
  max-width: 350px;
  margin: 0 auto;
}

.todo-container {
  margin: 0 auto;
}

#todo-input {
  border-bottom: 2px solid coral;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  list-style: none;
}

#todo-list li{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

#todo-list li span {
  margin: 0 auto;
}

